.Files {
background-color:#2e2e2e;
color:white;
display:flex;
margin-left:40%;
position:relative;
left:-20rem;
/*
width:14%;
*/
width:19%;
height:60vh;
top:-56vh

}
img {
width:20px;
margin-bottom:1rem;

}
h3 {
text-align:center

}
h4{

background-color:#424242;
position:sticky;
top:-4px;

}
.Explore__files {
background-color:blue;
width:116.9%;
padding:1px;
align-items:center;
}
.modified__header {
/*
background-color:#424242;
*/
display:flex;
flex-direction:column;
overflow:scroll;
padding:1px;
justify-content:space-between;
width:116.5%;
height:10rem;
}
.main__dir {

overflow:scroll;
 
height:75.5rem;
position:absolute;
top:15%;
width:100%;
margin-left:-2px;
}
.Folder__dir {
display:flex;
position:absolute;
background-color:#424242;
height:30px;
top:1.5rem;

}
.action__dir {
height:15px;
position:relative;
top:-2rem;
font-size:2px;
color:white;
}
.dir__name {
color:white;
}
.Folder__name {
color:white;
}
.VscNewFile {
position:relative;
top:7px;
align-items:center;
padding:2px;


}
.VscNewFolder {
position:relative;
top:7px;
align-items:center;
padding:2px;
}
.VscRefresh {
position:relative;
top:7px;
align-items:center;
padding:2px;
}
.VscDiffRenamed {
position:relative;
top:7px;
align-items:center;
padding:2px;
}

.File__dir {
position:absolute;
top:4rem;
width:100%;
background-color:blue;

}
.File__dir > ul {
list-style-type: none;
}
.file__icon {
position:relative;
left:2rem;
top:0.3rem;
}
.file__name {
position:relative;
left:3.9rem;
top:-3rem;

}
.folder__icons {
position:relative;
display:flex;

visibility:visible;
transition: visibility 0s, opacity 0.5s linear;


}

.folder__icons:hover {
position:relative;
display:flex;
visibility:visible;
transition: visibility 0s, opacity 0.5s linear;
/*
opacity: 0.7;
*/
}
.each__file {
background-color:black;
width:100%;
height:2rem;
margin-bottom:4px;

}
