.Sidebar {
display:flex;
flex-direction:column;
background-color:#424242;
position:absolute;
/*
background-color:#333232;

width:18%;
height:90rem;
border:1px inset #212121;
margin-bottom:50%;
margin-top:0%
*/
}
.FolderOpenTwoToneIcon{
margin-bottom:4%;

}
.sidebar__icons {
display:flex;
flex-direction:column;

}
.vertical {
border-left: 6px solid #424242 ;
height: 60rem;
position:absolute;
left:6%;

}
