.AutoComplete__Modal{
position:absolute;
background-color:black;
height:150px;
width:250px;
left:40px;
overflow-x: hidden;
overflow-y:scroll;

font-size:9px;
opacity:0.5;

}
.List__of__suggestion{
position:absolute;
top:-9px;
width:250px;
height:150px;
background-color:red;
list-style:none;
justify-content:space-between;


}
.Each__suggestion{
position:relative;
width:100%;
background-color:green;

}
.suggestion__container{
position:absolute;
display:grid;
width:100%;
grid-template-columns:30px 170px  50px ;
/*
background-color:yellow;
*/
}
.suggestion__name{
position:relative;
left:-4px;
font-size:12px;
/*
top:-3px;
*/
grid-column-start:2;
width:100%;
left:-32px;
top:-10px;
background-color:blue;
}
.suggestion__image{
position:relative;
left:-3px;
grid-column-start:1;
background-color:green;
width:100%;
height:30px;
left:-40px;
}
.suggestion__type {
position:relative;
grid-column-start:3;
background-color:black;
width:100%;
height:30px;
top:-10px;
left:-30px;
/*left:-50px;*/
}
