
.code-complete-modal{
z-index:10;
position:absolute;

width:300px;

overflow:scroll;
/*
width:fit-content;
*/
height:fit-content;
max-width:300px;
/*
height:300px;
*/

max-height:300px;
/*
background-color:#484778;
*/
background-color:#343d4d;
border:1px solid black;
border-radius:1px;	
top:0;
left:0;
border-radius:9px;
}
/*
.CodeMirror-hints {
background-color:#38383 !important;
}
*/
.list-of-suggestion{
display:flex;
flex-direction:column;

position:relative;
/*
background-color:inherit;
*/
height:100%;


}
.item-of-suggestion{
display:flex;
/*
background-color:inherit;
*/
/*width:fit-content;*/
flex:1;
/*
background-color:black;
*/
position:relative;
left:-25px;
}
.button-suggestion{

flex:1;
position:relative;
color:white;

background-color:inherit;

border:none;
/*
background-color:white;
*/
/*border:0.5px solid ;
border-radius:9px;*/

/*
left:-100px;
*/
}
.text-of-suggestion {
color:white;

/*
left:-100px;
*/
margin:0;
/*
background-color:blue;
*/
position:relative;
left:0px;
/*left:-35%;*/
font-style:italic;
}
.text-of-suggestion >p{
position:relative;
left:-10px;

}
