.Editor__section {
position:absolute;
height:67rem;
top:5.4rem;
width:100%;
/*
grid-template-columns:1fr 1fr;
grid-template-rows:1fr  1fr;

justify-content:space-between;
*/
/*
background-color:black;
*/
}
.numbers__of__lines {
position:relative;
margin-bottom:3px;
}
.keyword__word {
color:purple;
font-style:italic;

}
h4{
background-color:#292929;

}
.primary__word {
color:#4771cc;
outline-width:0;
}

/*
.react-codemirror2 {
position:absolute;
background-color:black;
}
.CodeMirror-code {
position:absolute;

}
*/
.code__section {
position:relative;
height:100%;
width:100%;
border:2px solid black;
overflow-y:scroll;

/*
justify-content:space-between;
*/
/*
background-color:black;
overflow:scroll;
outline-width:0;
*/
}
/*
.line__numbers {
outline-width:0px;
font-size:8px;
}
*/
/*
.code__section.grid{
display:flex;
flex-direction:row;
height:100%;
width:100%;
border:2px solid black;

overflow:scroll;
}
*/

.react-codemirror2 {
position:relative !important;
height:100%!important ;
width: 100% !important;

min-width:98% !important;

/*
pointer-events:none !important;
*/
cursor:grabbing;
/*
overflow:scroll;
*/
}

.editor__comp{
position:relative;
display:flex;
width:100%;
height:100%;

/*
background-color:black;
*/
}
.cm-s-material.CodeMirror {
background-color:/*#343536*/ #222324 !important;
height:100% !important;
}
.cm-s-material .CodeMirror-gutters {
background-color:#222324 !important;
/*
overflow:scroll !important;
*/

position:absolute!important;
}

/*
::-webkit-scrollbar{
height:10px;
border-radius:9px

}

*/
.code__section__mirror {
position:relative;
height:100%;;
border: 1px solid black;
border-radius:9px;
z-index:9;
left:-7rem;
overflow:scroll;

min-width:6rem;


}
.editor__comp.mirror__section{
width:100%;
height:100%;

}
.react-codemirror2.code-mirror-screen{
width:100%;
height:100%;
max-width:100%;
font-size:0.9px;


}
.CodeMirror-hints {
background-color:#707070!important;
min-width:200px;
}
/*
 * scrollbars 
 */
.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical{
background:#303954 !important;
min-width:2% !important;
z-index:10 ;
}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div{
position:relative !important;
background:grey !important;
z-index:10;

}
.cm-m-javascript.cm-keyword{
/*color:#82AAFF!important;
 */


}
.cm-m-javascript.cm-type{
color:#369e6f !important;
}
.cm-m-javascript.CodeMirror-matchingbracket{
color:#fff128 !important;
/*background:y!important;*/
text-decoration:none !important;


}
