.Terminal {
margin-top:-11%;
background-color:#212121;
color:white;
margin-left:20%;
margin-bottom:0%;
border:1px solid #212121;;
height:15rem;
position:absolute;
top:83.4rem;
left:4rem;
width:74%;
}

