.setting {
position:absolute;
/*
background-color:#2b2b2b;
*/
display:flex;
/*
background-color:#333232;
*/
/*
background-color:#2e2e2e;
*/
background-color:#424242;

border-radius:1px;
width:20%;
/*
top:2px;

height:60px;
*/
padding:4px;
}
.theme__icon {
position:relative;
height:2.8rem;
width:2.8rem;
left:-1rem;

}
.theme__image {
position:relative;
height:2.7rem;
top:4px;
width:2.7rem;
padding: 2px;
}
.stories__icon {
position:relative;
height:2.8rem;
width:2.8rem;

}
.stories__image {
position:relative;
height:2.7rem;
width:2.7rem;
top:4px;

border-radius:50%;
/*
object-fit:cover;
object-position:top;
*/
}
