.Header {
position:relative;
display:flex;
background-color:#28292b;
/*
margin-left:20%;
*/
width:100%;
height:4rem;
/*
border-radius:9px;
*/
}
.Header__icons {
align-items:center;

}
/*
img {
height:15px;
width:5px;
}
*/
