.App {

height:100%;
width:100%;
/*
height:1920px;
width:1080px;
*/
}
.splitter-layout {
position:relative;
top:0rem;
height:80px;
}
.Sidebar-window-separator {
position:absolute;
top:4.1rem;
left:16.45rem;
height:60vh;

width:1px;
/*
cursor:move;
*/
z-index:10;
}
.Sidebar-window-separator:hover{
background-color:#4760ff;

}
.Terminal-windows-separator {
position:absolute;
width:60%;
height:10px;
background-color:blue;
}
.Terminal-windows-separator:hover{
background-color:blue;
}
